

////////////////////////////////////////////////////////////////////////////////
// CUSTOMIZE DOCUMENTATION
////////////////////////////////////////////////////////////////////////////////
// Use these settings to help adjust the appearance of Slate


// BACKGROUND COLORS
////////////////////
$nav-bg: #FFFFFF !default;
$examples-bg: #102B60 !default;
$code-bg: #0F2D61 !default;
$code-annotation-bg: #0F2D61 !default;
$nav-subitem-bg: #FFFFFF !default;
$nav-active-bg: #E6F0FF !default;
$nav-active-parent-bg: #FFFFFF !default; // parent links of the current section
$lang-select-border: #000 !default;
$lang-select-bg: #102B60 !default;
$lang-select-active-bg: $examples-bg !default; // feel free to change this to blue or something
$lang-select-pressed-bg: #111 !default; // color of language tab bg when mouse is pressed
$main-bg: #FFFFFF !default;
$aside-notice-bg: #FFFFFF !default;
$aside-warning-bg: #c97a7e !default;
$aside-success-bg: #6ac174 !default;
$search-notice-bg: #c97a7e !default;
$list-divider: #2855AF !default;
$toc-divider: #EFEFEF !default;
$general-table-bg : #FAF8F8 !default;


// TEXT COLORS
////////////////////
$main-text: #304150 !default; // main content text color
$nav-text: #5C6975 !default;
$nav-active-text: #2855af !default;
$nav-active-parent-text: #5C6975 !default; // parent links of the current section
$lang-select-text: #fff !default; // color of unselected language tab text
$lang-select-active-text: #fff !default; // color of selected language tab text
$lang-select-pressed-text: #fff !default; // color of language tab text when mouse is pressed
$table-header-text: #6C768A !default;
$code-text: #6C768A !default;
$code-tag-text: #F8F7F7 !default;
$code-tag-border: #E9E8E8 !default;
$active-toc-text: #232D4B !default;
$active-toc-h1: #484F5D !default;
$collapse-button-active: #4AB0E1 !default;
$search-warning-text: #c97a7e;


  // SIZES
////////////////////
$nav-width: 360px !default; // width of the navbar
$content-max-width: 1100px !default; // max width taken up by main content
$logo-margin: 40px !default; // margin below logo
$main-padding: 32px !default; // padding to left and right of content & examples
$nav-padding: 40px !default; // padding to left and right of navbar
$nav-v-padding: 10px !default; // padding used vertically around search boxes and results
$nav-indent: 16px !default; // extra padding for ToC subitems
$code-annotation-padding: 13px !default; // padding inside code annotations
$h1-margin-bottom: 48px !default; // padding under the largest header tags
$tablet-width: 930px !default; // min width before reverting to tablet size
$phone-width: $tablet-width - $nav-width !default; // min width before reverting to mobile size


// FONTS
////////////////////
%default-font {
  font-family: "SF Pro Text", "Segoe UI", Ubuntu, Arial;
  font-size: 14px;
}

%header-font {
  @extend %default-font;
}

%code-font {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 12px;
  line-height: 1.5;
}


// OTHER
////////////////////
$nav-footer-border-color: #666 !default;
$search-box-border-color: #666 !default;


////////////////////////////////////////////////////////////////////////////////
// INTERNAL
////////////////////////////////////////////////////////////////////////////////
// These settings are probably best left alone.

%break-words {
    word-break: break-all;
    hyphens: auto;
}
