.content .tag-8098b3 { /* Expand */
  color: #E57435;
}

.content .tag-b2e8e1 { /* Заполнение при создании */
  color: #37A7A7;
}

.content .tag-2080bb { /* Необходимо при создании */
  color: #2E70EF;
}

.content .tag-26e162 { /* Обязательное при ответе */
  color: #2D539D;
}

.content .tag-861f01 { /* Change-handler */
  color: #1DAA45;
}

.content .tag-c282f8 { /* Update-provider */
  color: #1d168c;
}

.content .tag-2a1a5b { /* После заполнения недоступно для изменения */
  color: #15767E;
}

.content .tag-44f368 { /* После создания изменить нельзя */
  color: #2D539D;
}

.content .tag-a5b5d6 { /* Для пользовательских ед. измерений */
  color: #E3B521;
}

.content .tag-3db012 { /* Для пользовательских стран */
  color: #167553;
}

.content .tag-8b1b0a { /* Только для чтения */
  color: #AE069D;
}

.content .tag-0c5653 { /* Тарифная опция «Расширенная бонусная программа» */
  color: #BD1C1C;
}

.content .tag-21c8b3 { /* Устаревшее */
  color: #1DAA45;
}
